.twoFree{
    padding: 40px 100px;
    img{
        margin-left: 160px;
        width: 460px;
        border: 2px solid black;
        border-radius: 8px;
    }
    h2{
        font-size: 24px;
        margin-left: 160px;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    p{
        font-size: 14px;
        margin-left: 160px ;
        margin-right: 160px;
    }
}